# -----------------------------------------------------------------------------
#	C/C++ compiler rules
#
#	We stick to the following file name conventions:
#
#	suffixes for files preserved when cleaning up:
#
#		.c	C source
#		.cc	C++ source
#		.S	C assembler source (to be preprocessed)
#		.SS	C++ assembler source (to be preprocessed)
#
#       suffixes for files removed when cleaning up:
#
#		.o	C object file
#               .oo     C++ object file
#

CC_BIN:=$(subst ",,$(CC_BIN))
CC_LIBS:=$(subst ",,$(CC_LIBS))
CC_OPT:=$(subst ",,$(CC_OPT))

CC_OPT_WARN:=$(subst ",,$(CC_OPT_WARN))
CC_OPT_DEBUG:=$(subst ",,$(CC_OPT_DEBUG))
CC_OPT_OPTIMIZE:=$(subst ",,$(CC_OPT_OPTIMIZE))
CC_OPT_TARGET:=$(subst ",,$(CC_OPT_TARGET))
CC_OPT_PIC:=$(subst ",,$(CC_OPT_PIC))

CXX_BIN:=$(subst ",,$(CXX_BIN))
CXX_LIBS:=$(subst ",,$(CXX_LIBS))
CXX_OPT:=$(subst ",,$(CXX_OPT))

#	automatically generate and check dependencies for source files
#
CC_DEPEND_C = $(patsubst %.c,.%.c.d,$(notdir $(wildcard $(DIR_SOURCE)/*.c)))
CC_DEPEND_S = $(patsubst %.S,.%.S.d,$(notdir $(wildcard $(DIR_SOURCE)/*.S)))
CC_DEPEND_CC = $(patsubst %.cc,.%.cc.d,$(notdir $(wildcard $(DIR_SOURCE)/*.cc)))
CC_DEPEND_SS = $(patsubst %.ss,.%.ss.d,$(notdir $(wildcard $(DIR_SOURCE)/*.ss)))

depend.exit:: $(CC_DEPEND_C) $(CC_DEPEND_S) $(CC_DEPEND_CC) $(CC_DEPEND_SS)

ifeq ($(GMAKE_FULL_DEPENDENCIES),yes)

GNUmakefile: $(CC_DEPEND_C) $(CC_DEPEND_S) $(CC_DEPEND_CC) $(CC_DEPEND_SS)

ifneq ($(CC_DEPEND_C),)
-include $(CC_DEPEND_C)
endif

ifneq ($(CC_DEPEND_S),)
-include $(CC_DEPEND_S)
endif

ifneq ($(CC_DEPEND_CC),)
-include $(CC_DEPEND_CC)
endif

ifneq ($(CC_DEPEND_SS),)
-include $(CC_DEPEND_SS)
endif

endif

#	default clean-up actions

ifeq ($(MAKELEVEL),0)

GMAKE_CLEAN_INIT += "*.o" "*.oo"

endif


