# -----------------------------------------------------------------------------
#	PhoeniX X server specific rules
# -----------------------------------------------------------------------------

CC_INCLUDE_PATH += $(X11_TOP_DIR) $(X11_TOP_DIR)/include $(X11R6_DIR)/include

LD = ld

# -----------------------------------------------------------------------------
